@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Georama', sans-serif;
    font-size: 92.5%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 15px;
}

.calculator {
    display: flex; 
    flex-direction: column;
    width: 500px;
    font-size: 2rem;
    border: 1px solid gray;
}

.calculator-display {
    padding: 25px 15px;
    width: 100%;
    text-align: right;
    border: 1px solid gray;
    overflow-x: auto;
}

.calculator-keypad {
    display: flex;
    width: 100;
}

.keypad-numbers { 
    display: flex; 
    flex-wrap: wrap; 
    width: 100%;
}

.keypad-button {
    width: 25%; 
    padding: 15px 0;
    text-align: center; 
    cursor: pointer;
    background-color: rgb(228, 228, 228);
    border: 1px solid gray;
}

.keypad-button:hover {
    filter: brightness(80%);
    transition: filter .25s;   
}

.keypad-button.yellow {
    background-color: rgb(119, 0, 255);
}

.keypad-button.large {
    width: 50%;
}

.keypad-button.red {
    background-color: rgb(228, 3, 3); 
}

.ubicacion-logo { 
    width: 14%;
    border: 1px solid black;
}